.centerContainer {
  display: flex;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  justify-content: center;
}

.mainContainer {
  display: flex;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  justify-content: center;
  margin-top: '20px'
}

.centerBar {
  justify-content: center;
}

html body {
    background-color: rgba(61, 61, 61, 1);
}

