.centerContainer {
  display: flex;
  width: 100%;
  max-width: 60%;
  margin: 0 auto;
  justify-content: center;
}

.centerBar {
  justify-content: center;
}

html body {
    background-color: rgba(61, 61, 61, 1);
}